/* Palette and design based on https://dribbble.com/shots/4915200-List-Sorting */

.App {
  --color-background-primary: #08214a;
  --color-background-secondary: #29427b;
  --color-text: #a1a4a4;
  --color-background-item: #e3e3e1;
  width: 100%;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
